html {
  overflow-y: scroll;
  font-size: 14px;
}

header {
  position: fixed;
  top: 0;
  left: 15px;
  right: 15px;
  z-index: 5;
  background: #fff;
}
#main-content {
  margin-top: 50px;
}
.row {
  margin: inherit;
  margin-top: 5px;
}
.calendar-date {
  min-height: 175px;
  height: 100%;
  width: 100%;
}
.seven-cols {
  display: flex;
  justify-content: flex-end;
}
.seven-cols .col-1 {
  width: calc(100% / 7);
  max-width: calc(100% / 7);
  flex: 0 0 calc(100% / 7);
  padding-left: 0;
  padding-right: 0;
}

.w-100 {
  margin: 5px auto;
}

h1 {
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.card:hover {
  cursor: pointer;
}

.card div.new-event, .card:hover div.events:hover + div.new-event {
  display: none;
}

.card:hover div.new-event, .card:hover div.new-event.alert {
  display: block;
}

@media (max-width: 576px) {
  html,
  body {
    font-size: 10px;
  }

  h1 {
    font-size: 16px;
  }
  .new-event {
    display: none !important;
  }
  .calendar-date {
    min-height: 75px;
  }
  .seven-cols .col-1 .card {
    border: 0;
  }
  .seven-cols .col-1 .card .card-body {
    padding: 0 2px;
  }
  .alert {
    padding: 2px 5px;
    font-size: 8px;
    margin-bottom: 5px;
  }
}

@media (min-width: 576px) {
  .seven-cols .col-1 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
