<style>
</style>

<div ng-controller="OrganiserController" ng-init="init()">
    <div ng-repeat="(key, value) in blah">
        <h1 class="border-bottom text-center">{{key}}</h1>
        <div class="row seven-cols">
            <div class="col-1" ng-repeat-start="d in value[0]" ng-class="{'blah': $first && d.dayOfWeek !== 1}">
                <div class="calendar-date card">
                    <div class="card-body" data-toggle="modal" data-target="#exampleModalCenter" ng-click="click(d.date)">
                        <h6 class="card-subtitle mb-2 text-muted">{{d.date | date: 'd'}}</h6>
                        <div ng-if="d.events" class="events">
                            <div class="alert" ng-repeat="event in d.events" style="background-color:{{event.color}};color:{{event.textColor}};" role="alert" ng-click="eventClicked(); $event.stopPropagation();">
                                {{event.name}}
                            </div>
                        </div>
                        <div class="alert alert-secondary new-event" role="alert" ng-click="click(d.date)">Enter new event...</div>
                    </div>
                </div>
            </div>
            <div class="w-100" ng-if="d.dayOfWeek === 7" ng-repeat-end></div>
        </div>
    </div>
</div>

<!-- Modal -->
<div ng-controller="OrganiserController" ng-init="initModal()" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Create new event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="eventName">Event Name</label>
                        <input type="text" class="form-control" id="eventName" aria-describedby="titleHelp" placeholder="Enter event name" ng-model="event.name">

                    </div>
                    <div class="form-group">
                        <label for="eventDesc">Event Description</label>
                        <textarea class="form-control" id="eventDesc" rows="3" ng-model="event.desc"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="eventDate">Event Date</label>
                        <input type="datetime-local" class="form-control" id="eventDate" aria-describedby="dateHelp" placeholder="Enter event date"
                            ng-model="event.datetime">
                    </div>
                    <div class="form-group">
                        <label for="eventType">Event Type</label>
                        <select class="custom-select" id="eventType" ng-model="event.eventType" ng-change="onTypeChange(event.eventType)">
                            <option>Assignment</option>
                            <option>Key Date</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="alert" id="exampleEvent">{{event.name || 'Example Event'}}</div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="eventColor">Background Colour</label>
                                <br />
                                <input type='text' id="eventColor" class="form-control selectColor" style="max-width:50px;" ng-model="event.color" />
                            </div>
                            <div class="col">
                                <label for="eventTextColor">Text Colour</label>
                                <br/>
                                <input type='text' id="eventTextColor" class="form-control selectColor" style="max-width:50px;" ng-model="event.textColor"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="eventNotes">Additional Notes</label>
                        <textarea class="form-control" id="eventNotes" rows="3" ng-model="event.notes"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="initModal()">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveEvent()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#eventColor").spectrum({
        showInput: true,
        preferredFormat: "hex",
        showPalette: true,
        showSelectionPalette: true,
        palette: ['#cce5ff', '#d4edda', '#fff3cd'],
        localStorageKey: "spectrum.colors",
        appendTo: "#exampleModalCenter",
        move: function (color) {
            $('#exampleEvent').css({
                'background-color': color.toHexString()
            });
        }
    });
    $("#eventTextColor").spectrum({
        showInput: true,
        preferredFormat: "hex",
        showPalette: true,
        showSelectionPalette: true,
        palette: ['#004085', '#155724', '#856404'],
        localStorageKey: "spectrum.textColors",
        appendTo: "#exampleModalCenter",
        move: function (color) {
            $('#exampleEvent').css({
                'color': color.toHexString()
            });
        }
    });
</script>
</script>