<div ng-repeat="m in months">
    <h1 class="text-center">{{m.name}}</h1>
    {{m.id}}
    <div class="row" ng-repeat="d in dates | filter:{month: 9}">
        {{d}}
        <div class="col calendar-date" ng-repeat="d in w">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted">{{d}}</h6>
                    <div class="alert alert-success" role="alert">
                        Start of course
                    </div>
                    <div class="alert alert-warning" role="alert">
                        Blah
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>